.grid {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 60px;
  align-items: start;
}

.info {
  background-color: var(--bg-light);
  padding: 40px;
  border-radius: 24px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list li {
  font-size: 1.125rem;
}

.list strong {
  display: block;
  color: var(--text-color-dark);
  margin-bottom: 5px;
}

.formWrapper {
  background-color: var(--white);
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.05);
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.iframe {
  display: block;
  width: 100%;
  border: none;
}

@media (max-width: 992px) {
  .grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  
  .formWrapper {
    padding: 10px;
  }
}
